# Site settings
title: Matt Stubenhofer
description: Construction Manager with a collection of Research, Development and Writing
url: "https://mattstub.com"
baseurl: ""

# Build settings
markdown: kramdown
permalink: /writing/:year/:month/:day/:title/

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:title/
  research:
    output: true
    permalink: /research/:title/

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor
  - _templates

# Kramdown settings
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Pagination (if you want it later)
# paginate: 10
# paginate_path: "/writing/page:num/"
